<div clas="container">
  <br>
  <h2 style="text-align: center;font: size 300%;font-family:fantasy ;">{{title}}</h2>
  <div class="card">
      <div class="card-body">
          <nav class="navbar navbar-expand-md navbar-dark bg-dark">
              <a class="navbar-brand" href="#">Home</a>
              <a class="nav-link" href="memberlist" routeLink="memberlist">members</a>
              <a class="nav-link" href="booklist" routeLink="booklist">books</a>
              <a class="nav-link" href="rentlist" routeLink="rentlist">rents</a>
              <a class="nav-link" href="login" routeLink="login">login</a>
          </nav>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
<footer>
  <div class="container">
      <span>All rights are reserved </span>
  </div>
</footer>